
.HomeMain {
    background-color: #7395ae;
    margin: 0;
    padding: 0;
    height: 100vh;
}

img {
    max-width: 20vw;
    border-radius: 50%;
    /* padding-top: 35px; */
    margin-top: 50px;
}

.HomeH1 {
    font-family: 'Heebo', sans-serif;
    font-size: 5.5vw;
    margin: 0;
    padding: 0;
    margin-top: 18px;
    color: rgb(255, 255, 255);
}

.HomeH2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 3.5vw;
    margin: 0;
    padding: 0;
    /* padding-bottom: 28px; */
    margin-top: 14px;
    color: rgb(255, 255, 255);
}

