.Header {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: blueviolet;
    display: flex;
    position: fixed;
    left: 20px;
    top: 12px;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */

}