* {
    box-sizing: border-box;
}

.IntroDiv {
    background-color: indianred;
    width: 70%;
    margin: 0 auto;
}

h2 {
    margin: 0;
    padding-top: 8px;
    font-family: 'Heebo', sans-serif;
    font-size: 2.8vw;
    font-weight: 700;
}

p {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 12px;
    font-family: 'Quicksand', sans-serif;
    line-height: 2;
    text-align: justify;
    font-size: 1.8vw;
}